<div style="text-align:center">
    <h1>Hello, Welcome to our page!</h1>
    <p>Welcome to the flower shop. We are dedicated to provide the best customer experience through our easy to browse catalogue</p>
    <h3>Our Team</h3>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="/css/MicrosoftTeams-image (9).png" class="card-img-top" alt="Karen">
            <div class="card-body">
                <h4 class="card-title">Karen Salinas</h4>
                <h5> Third year Computer Science Student</h5>
                <p class="card-text">Greetings! I am an enthusiastic and dedicated student currently pursuing a Bachelor's degree in Application Development.</p>
                <p>My academic journey is caracterized by my passion for technology and commitment to mastering the skills required to thrive as a Software Engineer.</p>
                <p>My coursework has equipped me with a solid foundation in programming languages, software  architecture, and user experience design.</p>
                <p>Beyond the classroom I enjoy gardening, spending time with my family, and physical activity.</p>
                <a href="mailto:ksabrinah.kr@gmail.com" class="btn btn-primary">Contact</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/css/NewTeams.png" class="card-img-top" alt="b">
            <div class="card-body">
                <h4 class="card-title">Brent Kay</h4>
                <h6>Full-stack Engineer</h6>
                <p class="card-text">I am a 3rd year bachelor of computer science student here at Renton Technical College. I am always up for learning something new, and applying that knowledge to be better at my craft.  
                    I am capable with the following technologies: C#, java, .Net, CSS, HTML, Javascript, Bootstrap, Azure and Github.
                </p> 
                <p>
                    Outside of the classroom I enjoy spending time with family and friends,
                    staying physical fit, reading and gaming.
                </p>
                <a href="mailto:bwkay@student.rtc.edu" class="btn btn-primary">Contact</a>
            </div>
        </div>
    </div>
