<div style="text-align:center">
    <h1>Hello, Welcome to our page!</h1>
    <p>Welcome to the flower shop. We are dedicated to provide the best customer experience through our easy to browse catalogue</p>
    <h3>Our Team</h3>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
        <div class="card h-100">
            <img src="/css/MicrosoftTeams-image (9).png" class="card-img-top" alt="Karen">
            <div class="card-body">
                <h4 class="card-title">Karen Salinas</h4>
                <h6>Computer Science Student</h6>
                <p class="card-text">I'm currently on my third quarter of the Bachelor's program in Application Development.</p>
                <p>This website was created for a Software Development Application project </p>
                <a href="mailto:ksabrinah.kr@gmail.com" class="btn btn-primary">Contact</a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card h-100">
            <img src="/css/NewTeams.png" class="card-img-top" alt="b">
            <div class="card-body">
                <h4 class="card-title">Brent Kay</h4>
                <h6>Third Computer Science Student</h6>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                <a href="mailto:bwkay@student.rtc.edu" class="btn btn-primary">Contact</a>
            </div>
        </div>
    </div>
