<div class="about-section">
    <h1 style="text-align:center">Hello, Welcome to our page!</h1>
    <p>Welcome to our flower shop website. We are dedicated to provide the best customer experience through our easy to browse catalogue. </p>
    <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>
<h3>Testing</h3>
<h2 style="text-align:center">Our Team</h2>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="/w3images/team1.jpg" alt="Karen" style="width:100%">
            <div class="container">
                <h2>Karen Salinas</h2>
                <p class="title">Computer Science Student</p>
                <p>Currently working on my bachelor's degree in Application Development</p>
                <p>ksabrinah.kr@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <img src="/css/MicrosoftTeams-image (8).png" alt="Brent" style="width:100%">
            <div class="container">
                <h2>Brent Kay</h2>
                <p class="title">Third Year Computer Science Student</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>bwkay@student.rtc.edu</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
