@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome, Family Flowers</h1>
    <img src="/css/tania-miron-M8rUWepujF8-unsplash.jpg" class="img-fluid" alt="flower field" height="400" width="400">
</div>
