@model Product
@{

}

<div class="card" style="width: 18rem;">

    @* test which product name got passed to the view to load corresponding image *@.
    @if (Model.Name == "Roses")
    {
        <img class="card-img-top" src="/css/sidney-pearce-yPMJliKzyc4-unsplash.jpg" alt="Card image cap">
    }
    else if(Model.Name == "Rose")
    {
        <img class="card-img-top" src="/css/Rose.jpg" alt="Card image cap">
    }
    else if(Model.Name =="Toy")
    {
        <img class="card-img-top" src="/css/june-gathercole-CDt2jVuSkh4-unsplash.jpg" alt="Card image cap">
    }
    else if(Model.Name =="Tulips")
    {
        <img class="card-img-top" src="/css/catia-climovich-Z-6bfsa6rD8-unsplash.jpg" alt="Card image cap">
    }
    else if(Model.Name == "Tulip")
    {
        <img class="card-img-top" src="/css/SingleTul.jpg" alt="Card image cap">
    }
    else if(Model.Name =="Carnations")
    {
        <img class="card-img-top" src="/css/sidney-pearce-qz3T7J-M-Co-unsplash.jpg" alt="Card image cap">
    }
    else if(Model.Name =="Daysies")
    {
        <img class="card-img-top" src="/css/larisa-birta-WIaFt0JeGMA-unsplash.jpg" alt="Card image cap">
    }
    else if(Model.Name =="Greeting Cards")
    {
        <img class="card-img-top" src="/css/sydney-rae-qZXxmajoHx0-unsplash.jpg" alt="Card image cap">
    }
    else if(Model.Name =="Gift Card")
    {
        <img class="card-img-top" src="/css/GiftC.jpg" alt="Card image cap">
    }
    else if(Model.Name == "Balloon")
    {
        <img class="card-img-top" src="/css/adi-goldstein-Hli3R6LKibo-unsplash.jpg" alt="Card image cap">
    }
    else if(Model.Name == "Gift in a box")
    {
        <img class="card-img-top" src="/css/Chocolates.jpg" alt="Card image cap">
    }
    else if(Model.Name == "Box of Cookies")
    {
        <img class="card-img-top" src="/css/Cookies.jpg" alt="Card image cap">
    }
    else if(Model.Name == "Gift Basket")
    {
        <img class="card-img-top" src="/css/GiftBask.jpg" alt="Card image cap">
    }
    else if(Model.Name == "Gift Basket Eddible")
    {
        <img class="card-img-top" src="/css/EddibleBask.jpg" alt="Card image cap">
    }
    else if(Model.Name == "Wine")
    {
        <img class="card-img-top" src="/css/Wine.jpg" alt="Card image cap">
    }

    <div class="card-body">
        <h5 class="card-title">@Model.Name @Model.ProductType</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc.</p>
        <p>Price @Model.Price</p>
        <a asp-controller="Shop" asp-action="Index">Shop</a>
        <a asp-controller="ShoppingCart" asp-action="AddToCart" asp-route-productId="@Model.Id">Add to Cart</a>
    </div>
</div>